@import url('../css/font.css');

html, body{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
/*-----------Classes globais-------------*/
a{
    text-decoration: none;

}

:root{
  /*  Theme de Cor*/


  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color:#0f0f0f; 
  --white: #ffffff; 
  --midnight: #104f55;

 /* gradiente color*/
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);



  /*  theme font-family:*/
  --Abel: 'Abel', cursive;  
  --Anton: 'Anton',cursive; 
  --Josefin: 'Josefin', cursive;
  --Lexend: 'Lexend',cursive;
  --Livvic:'Livvic',cursive; 
}

.flex-row{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; /*Organiza os conteines quando a tela diminui*/
}

ul{
  list-style-type: none; 
}

h1{
  font-family: var(--Lexend) ;
  font-size: 2.5rem;
}

h2{
 
  font-family: var(--Lexend);
}

h3{
  font-family:var(--Abel) ;
  font-size: 1.3rem;

}

button.btn{
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family:var(--Livvic) ;
  cursor: pointer;

}

/*----- Final de Classes globais--------*/


/*------navegação------------------------*/
.nav{
  background: white;
  padding: 0 2rem;
  height: 0rem; 
  min-height: 10vh; 
  transition: height 1s ease-in-out; 
}

.nav .nav-menu{
  justify-content: space-between;

}

.nav .toggle-collapse{
 position: absolute;
 top: 0;
 width: 90%;
 cursor: pointer;
 display: none;

}

.nav .toggle-collapse .toggle-icons{
   display: flex ;
   justify-content: flex-end;
   padding:1.7rem 0; 

}

.nav .toggle-collapse .toggle-icons i{
   font-size: 1.4rem;
   color: var(--text-gray);

}

.collapse{
  height: 30rem;
}


.nav .nav-items{
 display: flex;
 margin: 0;
}

.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;

}

.nav .nav-items .nav-link:hover{
  background-color: var(--midnight) ;
}

.nav .nav-items .nav-link:hover a{
  color: var(--white);
}


.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem;  
  text-decoration:none ;
  display: block;
  font-family: var(--Lexend);
  font-size:1.6rem ;
}

.nav .social{
  padding: 1.4rem 0;
}

.nav .social i{
  padding: 0.2rem;
}

.nav .social i:hover{
  color: #a1c4cf;
}



/*--------- Main Content-----------------*/

/*----------Site title--------*/
main .site-title{
  background:url('../assets/Background-image.png') ;
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;

}

main .site-title .site-background{
  padding-top:10rem; 
  text-align: center;
  color: var(--white);

}
 main .site-title h1, h3{
   margin: .3rem; 
 }

 main .site-title .btn{
   margin:1.8rem;
   background: var(--sky);

 }

 main .site-title .btn:hover {
   background:transparent;
   border: 1px solid var(--white);
   color: var(--white); 
   
 }
/*--------final site title----*/


/*------- Blog Carousel-------*/
main.blog{
  background: url(../assets/Abract01.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
}


/*-------Final Carousel------*/



/*-------- Final do Main Content -------*/


/*   Wiewport less then or equal to 750px  */
@media only screen and (max-width: 750px){
 .nav .nav-menu, .nav ,.nav-items{
  flex-direction:column;
 }

.nav .toggle-collapse {
  display:initial;
}
}

/*   Wiewport less then or equal to 750px  */